target/classes/transiap_integracion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
	<file:connector name="File1" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
	<db:mysql-config name="MySQL_Configuration" host="127.0.0.1" port="3306" user="root" database="transiap" doc:name="MySQL Configuration"/>
	<flow name="sdct-file-inbound-flow">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\AnypointStudio\workspace\transiap_ficheros\documentos-intercambio" moveToDirectory="C:\Users\Administrador.WIN-2O4P6U7CI32\AnypointStudio\workspace\transiap_ficheros\procesados" connector-ref="File1" fileAge="1000" responseTimeout="10000" doc:name="File Listener"/>
		<choice doc:name="Choice Router">
			<when expression="#[message.inboundProperties.'originalFilename' contains '.csv']">
				<set-payload value="#[payload]" mimeType="text/plain" doc:name="Set Payload"/>
				<dw:transform-message doc:name="Transform CSV to Object" metadata:id="f03e7f67-d84e-473f-9181-8afd61cd20e2">
					<dw:input-payload mimeType="application/java" doc:sample="sample_data\list_csv.csv"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
    idSolicitud: ((payload splitBy "\n")[0] splitBy ":")[2],
    fecha: now as :string {format: "dd/MM/yyyy HH:mm:ss"},
    idPuerto: (((payload splitBy "\n")[1] splitBy ":")[2] splitBy ",")[0],
    nombrePuerto: ((payload splitBy "\n")[1] splitBy ", ")[1],
    idAgencia: (((payload splitBy "\n")[2] splitBy ":")[2] splitBy ",")[0],
    nombreAgencia: ((payload splitBy "\n")[2] splitBy ", ")[1],
    paisAgencia: ((payload splitBy "\n")[2] splitBy ", ")[2],
    contenedores: (payload splitBy "\n")[3 to -1] map ((line, index) -> {
        idContenedor: ((line splitBy ":")[2] splitBy ", ")[0],
        tipoContenedor: (line splitBy ", ")[1],
        pesoContenedor: (line splitBy ", ")[2],
        precintoContenedor: (line splitBy ", ")[3],
        dimensionesContenedor: (line splitBy ", ")[4],
        trasladoFechaMaxEntrega: (line splitBy ", ")[5],
        trasladoDireccion: ((line splitBy /,(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)/)[6]),
        trasladoCodigoPostal: (line splitBy ", ")[8],
        trasladoCiudad: (line splitBy ", ")[9],
        trasladoPais: (line splitBy ", ")[10]
    })
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[message.inboundProperties.'originalFilename' contains '.json']">

				<dw:transform-message doc:name="Transform JSON to Object" metadata:id="29567b72-171e-4cca-ad21-2a3c830c1e3b">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	idSolicitud: (payload.idd splitBy "SNTN:SDC:" joinBy "") as :number,
	fecha: now as :string {format: "dd/MM/yyyy HH:mm:ss"},
	idPuerto: (payload.Puerto.id splitBy "SNTN:PORT:" joinBy "") as :string,
	nombrePuerto: payload.Puerto.nombre,
	idAgencia: (payload.AgenciaNaviera.id splitBy "SNTN:AN:" joinBy "") as :string,
	nombreAgencia: payload.AgenciaNaviera.nombre,
	paisAgencia: payload.AgenciaNaviera.pais,
	contenedores: payload.Contenedores map ((contenedor , indexOfContenedor) -> {
		idContenedor: (contenedor.idc splitBy "SNTN:DOCKER:" joinBy "") as :string,
		tipoContenedor: contenedor.tipo,
		pesoContenedor: contenedor.peso,
		precintoContenedor: contenedor.precinto,
		dimensionesContenedor: contenedor.dimensiones,
		
		trasladoFechaMaxEntrega: contenedor.Traslado.FechaMaxEntrega,
		trasladoDireccion: contenedor.Traslado.Destino.direccion,
		trasladoCodigoPostal: contenedor.Traslado.Destino.codigoPostal,
		trasladoCiudad: contenedor.Traslado.Destino.ciudad,
		trasladoPais: contenedor.Traslado.Destino.pais
	})
}]]></dw:set-payload>
				</dw:transform-message>

			</when>
			<when expression="#[message.inboundProperties.'originalFilename' contains '.xml']">
				<dw:transform-message doc:name="Transform XML to Object" metadata:id="d260b6d1-2ed6-4b61-9c31-e5caa6b335b4">
					<dw:input-payload mimeType="application/xml"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.sntn.es/standards
---
{
	idSolicitud: (payload.ns0#SNTN_SolicitudDescargaContenedores.@idd splitBy "SNTN:SDC:" joinBy "") as :number,
	fecha: now as :string {format: "dd/MM/yyyy HH:mm:ss"},
	idPuerto: (payload.ns0#SNTN_SolicitudDescargaContenedores.ns0#Puerto.@id splitBy "SNTN:PORT:" joinBy "") as :string,
	nombrePuerto: payload.ns0#SNTN_SolicitudDescargaContenedores.ns0#Puerto.ns0#nombre,
	idAgencia: (payload.ns0#SNTN_SolicitudDescargaContenedores.ns0#AgenciaNaviera.@id splitBy "SNTN:AN:" joinBy "") as :string,
	nombreAgencia: payload.ns0#SNTN_SolicitudDescargaContenedores.ns0#AgenciaNaviera.ns0#nombre,
	paisAgencia: payload.ns0#SNTN_SolicitudDescargaContenedores.ns0#AgenciaNaviera.ns0#pais,
	contenedores: payload.ns0#SNTN_SolicitudDescargaContenedores.ns0#Contenedores.*ns0#Contenedor map ((contenedor , indexOfContenedor) -> {
		idContenedor: (contenedor.@idc splitBy "SNTN:DOCKER:" joinBy "") as :string,
		tipoContenedor: contenedor.ns0#tipo,
		pesoContenedor: contenedor.ns0#peso,
		precintoContenedor: contenedor.ns0#precinto as :string,
		dimensionesContenedor: contenedor.ns0#dimensiones,
		trasladoFechaMaxEntrega: contenedor.ns0#Traslado.ns0#FechaMaxEntrega,
		trasladoDireccion: contenedor.ns0#Traslado.ns0#Destino.ns0#direccion,
		trasladoCodigoPostal: contenedor.ns0#Traslado.ns0#Destino.ns0#codigoPostal,
		trasladoCiudad: contenedor.ns0#Traslado.ns0#Destino.ns0#ciudad,
		trasladoPais: contenedor.ns0#Traslado.ns0#Destino.ns0#pais
	})
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<logger message="Archivo no v&#225;lido." level="INFO" doc:name="Logger"/>
			</otherwise>
		</choice>
		<set-variable variableName="payload" value="#[payload]" doc:name="Variable Object"/>
		<db:insert config-ref="MySQL_Configuration" doc:name="Insert Solicitud Descarga">
			<db:parameterized-query><![CDATA[INSERT INTO solicitud_descarga (id, fecha, naviera)
VALUES (
  #[payload.idSolicitud],
  #[payload.fecha],
  #[payload.idAgencia]
);]]></db:parameterized-query>
		</db:insert>
		<foreach collection="#[flowVars.payload.contenedores]" doc:name="For Each">
			<set-variable variableName="contenedor" value="#[payload]" doc:name="Variable contenedor"/>
			<db:insert config-ref="MySQL_Configuration" doc:name="Insert Contenedor">
				<db:parameterized-query><![CDATA[INSERT INTO contenedor (idc, tipo, peso, dimension, precinto, descarga)
VALUES (
  #[payload.idContenedor],
  #[payload.tipoContenedor],
  #[payload.pesoContenedor],
  #[payload.dimensionesContenedor],
  #[payload.precintoContenedor],
  #[flowVars.payload.idSolicitud]
);]]></db:parameterized-query>
			</db:insert>
			<choice doc:name="Choice">
				<when expression="#[flowVars.contenedor.trasladoDireccion != null]">
					<set-variable variableName="idDireccion" value="#[java.util.UUID.randomUUID().toString()]" doc:name="Variable idDireccion"/>
					<db:insert config-ref="MySQL_Configuration" doc:name="Insert Direccion">
						<db:parameterized-query><![CDATA[INSERT INTO direccion (id, direccion, cp, ciudad, codigo_pais) 
VALUES (
    #[flowVars.idDireccion], 
    #[flowVars.contenedor.trasladoDireccion], 
    #[flowVars.contenedor.trasladoCodigoPostal],
    #[flowVars.contenedor.trasladoCiudad],
    #[flowVars.contenedor.trasladoPais]
);]]></db:parameterized-query>
					</db:insert>
					<db:insert config-ref="MySQL_Configuration" doc:name="Insert Traslado">
						<db:parameterized-query><![CDATA[INSERT INTO traslado (idt, fechaEntrega, estado, destino, contenedor, ultima_ubicacion)
VALUES (
    #[UUID.randomUUID().toString()],
    #[flowVars.contenedor.trasladoFechaMaxEntrega],
    #[ 'pendiente' ],
    #[flowVars.idDireccion],
    #[flowVars.contenedor.idContenedor],
	NULL
);]]></db:parameterized-query>
					</db:insert>
				</when>
				<otherwise>
					<logger message="Contenedor #[flowVars.contenedor.idContenedor] sin traslado." level="INFO" doc:name="Logger"/>
				</otherwise>
			</choice>
		</foreach>

	</flow>
</mule>
