target/classes/transiap_integracion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" database="transiap" doc:name="MySQL Configuration"/>
	<file:connector name="File1" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
	<flow name="sdct-file-inbound-flow">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\AnypointStudio\workspace\transiap_ficheros\documentos-intercambio" moveToDirectory="C:\Users\Administrador.WIN-2O4P6U7CI32\AnypointStudio\workspace\transiap_ficheros\procesados" connector-ref="File1" fileAge="1000" responseTimeout="10000" doc:name="File Listener"/>
		<choice doc:name="Choice Router">
			<when expression="#[message.inboundProperties.'originalFilename' contains '.csv']">
				<dw:transform-message doc:name="Transform CSV to Object" metadata:id="f03e7f67-d84e-473f-9181-8afd61cd20e2">
					<dw:input-payload mimeType="application/csv"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	idd: payload.column_0 as :string,
	Puerto: payload.column_1,
	AgenciaNaviera: payload.column_2,
	Contenedores: payload.column_3
}
]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[message.inboundProperties.'originalFilename' contains '.json']">
				<dw:transform-message doc:name="Transform JSON to Object">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
    idDocumento: payload.idd replace "SNTN:SDC:" with "",
    puerto: {
        id: payload.Puerto.id replace "SNTN:PORT:" with "",
        nombre: payload.Puerto.nombre
    },
    agencia: {
        id: payload.AgenciaNaviera.id replace "SNTN:AN:" with "",
        nombre: payload.AgenciaNaviera.nombre,
        pais: payload.AgenciaNaviera.pais
    },
    contenedores: payload.Contenedores map {
        id: $.idc replace "SNTN:DOCKER:" with "",
        tipo: $.tipo,
        peso: $.peso,
        precinto: $.precinto,
        dimension: $.dimensiones,
        traslado: $.Traslado when $.Traslado != null otherwise null
    }
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[message.inboundProperties.'originalFilename' contains '.xml']">
				<dw:transform-message doc:name="Transform XML to Object">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
    idDocumento: payload.@idd replace "SNTN:SDC:" with "",
    puerto: {
        id: payload.Puerto.@id replace "SNTN:PORT:" with "",
        nombre: payload.Puerto.nombre
    },
    agencia: {
        id: payload.AgenciaNaviera.@id replace "SNTN:AN:" with "",
        nombre: payload.AgenciaNaviera.nombre,
        pais: payload.AgenciaNaviera.pais
    },
    contenedores: payload.Contenedores.*Contenedor map {
        id: $.@idc replace "SNTN:DOCKER:" with "",
        tipo: $.tipo,
        peso: $.peso as :number,
        precinto: $.precinto,
        dimension: $.dimensiones,
        traslado: $.Traslado when $.Traslado != null otherwise null
    }
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
		</choice>
		<db:insert config-ref="MySQL_Configuration" doc:name="Insert Solicitud Descarga">
			<db:parameterized-query><![CDATA[INSERT INTO solicitud_descarga (
    id_solicitud,
    fecha_solicitud,
    puerto,
    tipo_descarga
)
VALUES (
    #[payload.solicitudDescarga.idSolicitud],
    #[server.dateTime],
    #[payload.solicitudDescarga.puerto],
    #[payload.solicitudDescarga.tipoDescarga]
);]]></db:parameterized-query>
		</db:insert>
		<foreach collection="payload.contenedores" doc:name="Process Contenedores">
			<db:insert config-ref="MySQL_Configuration" doc:name="Insert Contenedor">
				<db:parameterized-query><![CDATA[INSERT INTO contenedor (
    id_contenedor,
    id_solicitud,
    tipo,
    peso,
    estado
)
VALUES (
    #[payload.idContenedor],
    #[flowVars.id_solicitud],
    #[payload.tipo],
    #[payload.peso],
    #[payload.estado]
);]]></db:parameterized-query>
			</db:insert>
			<choice doc:name="Choice">
				<when expression="payload.traslado != null">
					<db:insert config-ref="MySQL_Configuration" doc:name="Insert Direccion">
						<db:parameterized-query><![CDATA[INSERT INTO direccion (
    id_direccion,
    id_contenedor,
    calle,
    ciudad,
    pais
)
VALUES (
    #[UUID.randomUUID().toString()],
    #[payload.idContenedor],
    #[payload.direccion.calle],
    #[payload.direccion.ciudad],
    #[payload.direccion.pais]
);]]></db:parameterized-query>
					</db:insert>
					<db:insert config-ref="MySQL_Configuration" doc:name="Insert Traslado">
						<db:parameterized-query><![CDATA[INSERT INTO traslado (
    id_traslado,
    id_contenedor,
    origen,
    destino,
    fecha_traslado
)
VALUES (
    #[UUID.randomUUID().toString()],
    #[payload.idContenedor],
    #[payload.traslado.origen],
    #[payload.traslado.destino],
    #[server.dateTime]
);]]></db:parameterized-query>
					</db:insert>
				</when>
			</choice>
		</foreach>
	</flow>
</mule>
